<div>
    <h2>
        <span jhiTranslate="mecanicaApp.marque.home.title">Marques</span>
        <button class="btn btn-primary float-right jh-create-entity create-marque" [routerLink]="['/', { outlets: { popup: ['marque-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="mecanicaApp.marque.home.createLabel">
            Create new Marque
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="marques">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="code"><span jhiTranslate="mecanicaApp.marque.code">Code</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="mecanicaApp.marque.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="mecanicaApp.marque.description">Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="valide"><span jhiTranslate="mecanicaApp.marque.valide">Valide</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let marque of marques ;trackBy: trackId">
                <td><a [routerLink]="['../marque', marque.id ]">{{marque.id}}</a></td>
                <td>{{marque.code}}</td>
                <td>{{marque.name}}</td>
                <td>{{marque.description}}</td>
                <td>{{marque.valide}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../marque', marque.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'marque/'+ marque.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'marque/'+ marque.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="marques && marques.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
